# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Build outputs
*.apk
*.aab
*.unitypackage

# OS files
.DS_Store
Thumbs.db

# IDEs
.vs/
.vscode/
.idea/

# Others
*.log
